doctype html
html
    head
        script(src="https://kit.fontawesome.com/eea331999a.js", crossorigin="anonymous")
        title #{pageTitle} | #{siteName}
    body
        include ../patials/header
        main
            block content
        include ../patials/footer